
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Dosis:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');


main{
    display: grid;
    max-width: 1600px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-bottom:75px;
}

body, main{
    background-color:rgb(245, 241, 241);
    font-family:'Dancing Script';
}


#nav{
    background-color:#18314F;
    color: #9fb2be;
    text-align: center;
    display:block;
    display: flex;
    justify-content: space-around;
    grid-column: 1/7;
    font-size: 20px;
    }
    
nav a{
    text-align: center;
    color:#9fb2be;
    text-decoration: none;
    padding: 15px;
    display: block;
    font-family: "Dosis";
    font-weight:600;

}

nav a:hover {
    background-color: #8BBEB2;
    color: white;
  }

  * {box-sizing:border-box}

  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    grid-column: 1/7;
    justify-self: center;
    }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }



.ball_logo{
    width: 150px;
    z-index:1;
    margin-top: -50px;
}

h1{
  font-size: 50px;
  margin-bottom: -5;
}

h1, p{
    text-align: center;
    justify-items: center;
    grid-row:3/4;

}


h2{
    grid-column: 1/7;
    grid-row: 3/4;
    padding: 2em;
    text-align: center;
    margin-top: 250px;
    margin-bottom: 0px;
    text-decoration: underline;
}

#header{
    grid-column: 2/6;
}

#quote{
    grid-row: 3/4;
    grid-column: 1/7;
    padding: 10%;
    font-family:"Dosis";
    margin:auto;
    line-height: 50px;

}


#Ballroom{
    grid-column: 1/3;
    grid-row: 4/6;
    justify-self: center;
    margin: auto;

}

#Latin{
    grid-column: 3/5;
    grid-row: 4/6;
    justify-self: center;
    margin: auto;
}

#Swing{
    grid-column: 5/7;
    grid-row: 4/6;
    justify-self: center;
    margin: auto;
}

.ball{
    display: block;
    width: 7em;
    margin:auto;
    margin-top: 15px;
    padding-bottom: 45px;
    
}

.latin{
    display: block;
    width: 15em;
    margin:auto;
    grid-column: 2/4;
    padding-bottom:35px;
}

.swing{
    display: block;
    width: 15em;
    margin:auto;
    margin-top: 20px;
    padding-bottom: 45px;
}

.bbutton{
    background-color: #8BBEB2;
    font-size: 25px;
    transition-duration: 0.4s;
    padding: 10px;
    text-decoration: none;
    color:#18314F;
}

.lbutton{
    background-color: #b33f3f;
    font-size: 25px;
    transition-duration: 0.4s;
    margin-left: 75px;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.sbutton{
    background-color: #000000;
    font-size: 25px;
    color: white;
    transition-duration: 0.4s;
    margin-left: 80px;
    padding: 10px;
    text-decoration: none;
}

.bbutton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.lbutton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.sbutton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

/* Copy from here*/

footer{
  background-color:#9fb2be;
  color: #18314F;
}

footer h3{
  padding-top:10px;
}

footer a{
  grid-column: 1/7;
  text-decoration: none;
  padding-bottom: -30px;
  padding: 5px;
  color:#18314F;
  padding: 15px;
  font-size: 20px;
}

#links{
  margin-left:32em;
  padding-right: 15px;
}

#social{
  display: block;
  /* margin-left: 30em; */
  text-decoration:none;

}
.twit {
    width: 3em;
    border-radius: 25px;
}

.fb{
    width: 3em;
    border-radius: 25px;
}

.insta{
    width: 3em;
    border-radius: 25px;
}


/*--------------------------------------------------- Ballroom Page-----------------------------------------------*/

#Bmain{
  grid-template-rows: 5% 25% 25% 25% 20%;
  border:2px solid #18314F;
  margin-top: 50px;
}

#ball_nav{
  background-color:#929292;
  text-align: center;
  display:block;
  display: flex;
  justify-content: space-around;
  grid-column: 1/7;
  font-size: 20px;
  }
  
#ball_nav a{
  text-align: center;
  color:#1b2535;
  text-decoration: none;
  padding: 15px;
  display: block;
  font-family: "Dancing Script";

}

#ball_nav a:hover {
  background-color: #8BBEB2;
  color: white;
}



#Shoes{
  display: block;
  grid-column: 1/7;
  
}

.Shoe_title{
  grid-row: 1/2;
  grid-column: 3/5;
  margin-bottom: 0;
}

.music_title{
 grid-column: 5/6;
}


.Ballroom_page_logo{
  width: 5em;
  margin-top:-12%;
  margin-left: 50px;
}

.Bcard_title1{
  margin-top:63px;
  margin-bottom: 63px;
}

/* .Bcard_title2{
  border-top: 2px dotted #18314F;
} */

.Bcard_title3{
  margin-top:72px;
  margin-bottom: 72px;
}

.Bcard_title4{
  margin-top:68px;
  margin-bottom: 68px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  margin-right:25px;
  text-align: center;
  font-family: arial;
  display:inline-block;
  grid-column: 1/7;
  margin-left: 65px;
  margin-top: 50px;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}



/*_____________________________Latin___Page____________________________*/

.Latin_page_logo{
  width:10em;
  margin-top:-150px;
}

#latin_nav{
  background-color:#662727;
  color: #9fb2be;
  text-align: center;
  display:block;
  display: flex;
  justify-content: space-around;
  grid-column: 1/7;
  font-size: 20px;
  }
  
#latin_nav a{
  text-align: center;
  color:#acb6bd;
  text-decoration: none;
  padding: 15px;
  display: block;
  font-family: "Merienda";

}

#latin_nav a:hover {
  background-color: #505050;
  color: white;
}

#Lmain{
  grid-template-rows: 5% 25% 25% 25% 20%;
  margin-top: 50px;
  border:2px solid #080404; 
}

.LShoe_title{
  grid-row: 1/2;
  grid-column: 3/5;
  margin-bottom: 0;
  font-family: "Merienda";
}
.Lcard_title3{
  margin-top:48px;
  margin-bottom:48px;
}
.Lcard_title4{
  margin-top: 72px;
  margin-bottom:72px;
}

.Lcard_title5{
  margin-top:55px;
  margin-bottom:55px;
}

.Lcard_title6{
  margin-top:37px;
  margin-bottom:37px;
}

#Lfooter{
  background-color:#9b9a9a;
  color: #662727;
}

#Lfooter h3{
  padding-top:10px;
  font-family: "Merienda"
}

#Lfooter a{
  grid-column: 1/7;
  text-decoration: none;
  padding-bottom: -30px;
  padding: 5px;
  color:#662727;
  padding: 15px;
}

#Llinks{
  margin-left:32em;
  padding-right: 15px;
  font-family: "Merienda"
}

#Lsocial{
  display: block;
  /* margin-left: 30em; */
  text-decoration:none;

}
.twit {
    width: 3em;
    border-radius: 25px;
}

.fb{
    width: 3em;
    border-radius: 25px;
}

.insta{
    width: 3em;
    border-radius: 25px;
}

