

main{
    display: grid;
    max-width: 1600px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 20%, 20%, 20%, 20%, 20%, 20%;
}

body, main{
    background-color:rgb(245, 241, 241);
    font-family:'Dancing+script';
    src: url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Dosis:wght@300&display=swap');
}


#nav{
    background-color:#18314F;
    color: #9fb2be;
    text-align: center;
    display:block;
    display: flex;
    justify-content: space-around;
    }
    
nav a{
    text-align: center;
    color:#9fb2be;
    text-decoration: none;
    padding: 15px;
    display: block;

}

nav a:hover {
    background-color: #8BBEB2;
    color: white;
  }

  * {box-sizing:border-box}

  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    grid-column: 1/7;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }



.ball_logo{
    width: 150px;
    z-index:1;
    margin-top: -50px;
}

h1, p{
    text-align: center;
    justify-items: center;

}

h2{
    grid-column: 1/7;
    grid-row: 3/4;
    padding: 2em;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0px;
}

#header{
    grid-column: 2/6;
}

#quote{
    grid-row: 3/4;
    grid-column: 2/6;
    margin-bottom: 15px;
}


#Ballroom{
    grid-column: 1/3;
    grid-row: 4/6;
    justify-self: center;
    margin: auto;

}

#Latin{
    grid-column: 3/5;
    grid-row: 4/6;
    justify-self: center;
    margin: auto;
}

#Swing{
    grid-column: 5/7;
    grid-row: 4/6;
    justify-self: center;
    margin: auto;
}

.ball{
    display: block;
    width: 10em;
    margin:auto;
}

.latin{
    display: block;
    width: 20em;
    margin:auto;
}

.swing{
    display: block;
    width: 20em;
    margin:auto;
}

.bbutton{
    background-color: #8BBEB2;
    font-size: 25px;
    padding: 10px 24px;
    transition-duration: 0.4s;
    grid-column: 6/7;
    margin-top: 30%;
}

.lbutton{
    background-color: #b33f3f;
    font-size: 25px;
    padding: 10px 24px;
    transition-duration: 0.4s;
    width: 5em;
    margin:auto;
    margin-top:3%;
}

.sbutton{
    background-color: #000000;
    font-size: 25px;
    color: white;
    padding: 10px 24px;
    transition-duration: 0.4s;
    width: 5em;
    margin:auto;
    margin-top:16%;
}

.bbutton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.lbutton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.sbutton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

footer{
    background-color:#396E94;
}

.twit {
    width: 5em;
    border-radius: 25px;
}

.fb{
    width: 5em;
    border-radius: 25px;
}

.insta{
    width: 5em;
    border-radius: 25px;
}
